@font-face {
    font-family: 'IranSans';
    src: url('../fonts/IRANSansWeb.ttf') format('ttf'),
         url('../fonts/IRANSansWeb.woff') format('woff');
}

body {
    font-family: 'IranSans' !important;
}

a {
    text-decoration: none;
    color: #fff;
    transition: all .3s ease-in;
}
/* header */
a {
    color:#fff !important;
}
.bg-custom {
    background: rgb(255,81,0);
    background: linear-gradient(to right,#fe8c00,#f83600);
    box-shadow: 0 1px 10px #555;
}
.navbarLogo {
    max-width: 50%;
    float: left;
}
.btn-primary-rounded {
    background-color: #fff;
    border-radius: 50rem;
    border: 0.5rem solid #fff;
    color: #000 !important;
    transition: all .2s ease-in-out;
}
.btn-primary-rounded:hover {
    background-color: #f83600;
    border: 0.5rem solid #f83600;
    color: #fff;
}
.main {
    width: 100%;
    background-color: #2D4628;
    color:#fff;
}
.intro {
    padding-top: 6rem;
    background: rgb(255,81,0);
    background: linear-gradient(to right,#fe8c00,#f83600);
}
.customBorder {
    background: rgb(255,81,0);
    background: linear-gradient(to right,#fe8c00,#f83600);
    width: 20%;
    height: 1px;
    border-radius: 20px;
}